/* custom font for application */
@font-face {
  font-family: 'regular';
  src: url("../assets/font/WorkSans-Regular.ttf") format('truetype');
}
/* body styling properties */
body{
  font-family: 'regular';
  margin: 0;
  padding: 0;
}
/* welcome message heading */
.login-intro h1{
    font-size: 35px;
    font-weight: 100;
}
/* illustration styling */
#email-illust{
  width: 370px;
}
/* intro message  */
.login-intro h3{
  font-size: 20px;
  font-weight: 100;
}
/* button for new signin/signup */
.newLog{
    background-color: #ffffff;
    color: #5D65AB;
    border-radius: 70px;
    border-style: none;
    border: 3px solid #5D65AB;
    width: 180px;
    height: 45px;
    font-size: 20px;
}
/* into message styling */
.login-intro{
  text-align: center;
}

/* form styling */
.form h1{
  font-size: 35px;
  font-weight: 100;
}

#msgLogo{
  width: 150px;
  position: relative;
  top: 10px;
}

form input[type="email"],input[type="password"],input[type="text"]{
  background: none;
  border: none;
  outline: none;
  float: left;
  margin-left: 10px;
  padding: 0;
  line-height: 59px;
  font-size: 19px;
}
.search-box{
  width: 350px;
  height: 60px;
  background-color: #F1F1E6;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
.last{
  margin-bottom: 0px;
}

.input-icon{
  float: left;
  width: 32px;
  margin-top: 13px;
  margin-left: 10px;
}
.username{
  float: left;
  width: 21px;
  margin-top: 16px;
  margin-left: 16px;
}
svg.username{
  fill: #636060;
}
svg.input-icon{
  fill: #636060;
}

.logIn-button{
  background-color: #5D65AB;
  color: #ffffff;
  border-radius: 70px;
  border: none;
  width: 180px;
  height: 45px;
  font-size: 20px;
  text-align: center;
  font-weight: 100;
}
.logIn-button:hover{
  cursor: pointer;
  transform: translateY(2px);
}
.form{
  text-align: center;
  position: relative;
  top: 60px;
}
form{
  width: 500px;
  margin: 5px auto;
  position: relative;
  top: 10px;
}
/* main contianer styling */
.container{
  width: 880px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
}
/* button hover styling */
button:hover{
  cursor: pointer;
  transform: translateY(2px);
}
